
@{
    ViewBag.Title = "Index";
}

<h2>Sitio de Administración Inventario</h2>

<div>
    <img src="~/Imagenes/portada3.jpg" width="1518" height="652" alt="Inventario-SITIO DE ADMINISTRACION" class="img-responsive"  />
</div>

